html,body{
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}
div.mainContainer{
	margin: auto;
    width: 80%;
    height: 100%;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{	
	max-height: 40%;
	max-width: 30%;
}